<!DOCTYPE html>
<html>
  <head>
    <title>Bucket List</title>
    <link rel="stylesheet" href="/public/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="/public/models/list.js"></script>
    <script src="/public/models/content.js"></script>
    <script src="/public/views/listView.js"></script>
    <script src="/public/views/newListView.js"></script>
    <script src="/public/views/contentView.js"></script>
    <script src="/public/script.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?signed_in=true&callback=initMap"
        async defer></script>
  </head>
  <body>
    <header><h1>Bucket List</h1></header>

    <div class="newListView">
      <button class="addList">Add List</button>
      <form class="newList">
        <input name='listName' placeholder="list name">
        <input name='listAuthor' placeholder = "list author">
        <input name='contentActivity' placeholder = "content activity">
        <input name='contentLocation' placeholder = "content location">
        <input name='contentGoal' placeholder = "content goal_date">
        <button class='createList'>Create List</button>
      </form>
    </div>

    {{{ body }}}

    <div id="map" style="width: 320px; height: 320px;"></div>
      <div>
        <input id="address" type="textbox" value="Sydney">
        <input id="submit" type="button" value="Encode" >
      </div>

  </body>
</html>
