
body{
  font-size: 100%;
  font-family: "Lora", serif;
  background-color: #e7eaf0;
  padding: 30px;
  }

img{
  height: 200px;
  width: 200px;
}

#map {
  width: 600px;
  height: 400px;
  margin: 20px;
  border-width: 2px;
  border-color: #004358;
}
